.login::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../Assets/usuario.svg') no-repeat center center;
  margin-left: .5rem;
  position: relative;
  top: -1;
}